---
import Layout from "../layouts/Layout.astro";
import { socialLinks } from "../data/socialLinks";
import AnimatedText from "../components/AnimatedText";
import SocialIcon from "../components/SocialIcon";
---

<Layout title="hi there 👋">
    <main
        class="min-h-screen bg-gradient-to-br from-neutral-900 to-neutral-800 flex items-center justify-center p-8 md:p-16 overflow-hidden"
    >
        <div class="text-white space-y-6 text-center">
            <AnimatedText
                text="Hi there!"
                className="text-4xl md:text-8xl font-handwriting"
                client:load
            />
            <AnimatedText
                text="I'm Stageddat :)"
                className="text-5xl md:text-9xl font-handwriting"
                delay={0.2}
                client:load
            />
            <div class="flex justify-center gap-8 pt-6">
                {
                    socialLinks.map((link, index) => (
                        <SocialIcon {...link} client:load />
                    ))
                }
            </div>
        </div>
    </main>
</Layout>
