---
import { Picture } from "astro:assets";
import poopHi from "src/assets/poop/poop-hi.gif";
---

<div
  class="hero w-full h-screen flex flex-col md:flex-row items-center justify-center px-4 gap-16 md:gap-24 relative mb-32"
>
  <div class="text-center md:text-left">
    <h1 class="heroTitle text-7xl md:text-8xl lg:text-[10rem]">haiiii :3</h1>
    <h2 class="heroSubtitle text-6xl md:text-7xl lg:text-[9rem]">
      im stageddat!
    </h2>
  </div>
  <div class="flex justify-center items-center">
    <img
      src={poopHi.src}
      alt="Poop waving hi"
      class="w-48 h-48 md:w-64 md:h-64 lg:w-96 lg:h-96 object-contain"
      loading="eager"
    />
  </div>
  <div class="absolute bottom-8 w-full flex justify-center animate-bounce">
    <svg
      class="w-12 h-12 text-black"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>
  </div>
</div>

<style>
  .heroTitle,
  .heroSubtitle {
    @apply font-bold;
    font-family: "Caveat", cursive;
  }
</style>
