---
import Layout from "../layouts/Layout.astro";
import QuoteCarousel from "../components/QuoteCarousel.tsx";
import { quotes } from "../data/quoteData.ts";
---

<div class="container mx-auto px-4 py-0">
  <h2
    class="myFavQuotesTitle text-center py-4 text-5xl md:text-6xl lg:text-9xl"
  >
    my favorite quotes
  </h2>

  <QuoteCarousel quotes={quotes.slice(0, 3)} client:load />

  <div class="text-center mt-0 md:mt-1 mb-1">
    <a
      href="/quotes"
      class="text-3xl font-['Caveat'] text-gray-600 hover:text-indigo-600 transition-all duration-300 hover:scale-110 hover:underline inline-block"
    >
      check all the quotes
    </a>
  </div>
</div>

<style>
  .myFavQuotesTitle {
    @apply font-bold;
    font-family: "Caveat";
  }
</style>
