---
import QuoteCarousel from "../components/QuoteCarousel.tsx";
import { quotes } from "../data/quoteData.ts";
---

<div class="container mx-auto px-4 py-24">
  <h2
    class="myFavQuotesTitle text-center py-12 text-5xl md:text-6xl lg:text-9xl"
  >
    my favorites quotes
  </h2>

  <QuoteCarousel quotes={quotes} client:load />

  <div class="text-center mt-12 mb-12">
    <a
      href="/quotes"
      class="text-xl font-['Caveat'] text-gray-600 hover:text-indigo-600 transition-all duration-300 hover:scale-110 hover:underline inline-block"
    >
      check all the quotes
    </a>
  </div>
</div>

<style>
  .myFavQuotesTitle {
    @apply font-bold;
    font-family: "Caveat";
  }
</style>
