---
interface Props {
  title: string;
}

const { title } = Astro.props;

import SpeedInsights from "@vercel/speed-insights/astro";
import Analytics from "@vercel/analytics/astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="im stageddat :)" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel="icon" href="/favicon.webp" type="image/webp" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <SpeedInsights />
    <Analytics />
  </body>
</html>
